# UniFi Controller Settings
UNIFI_CONTROLLER=https://my-controller:11443
UNIFI_SITE=my_site

# UniFi Local API Key (Settings → Admins & Users → [user] → API Key)
UNIFI_LOCAL_API_KEY=your_local_api_key_here

# UniFi Cloud API Key
UNIFI_API_KEY=your_cloud_api_key_here